@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import "./shadow.scss";
@import "./menu.scss";

* {
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #485461;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  transition: all 0.3s;

  &.active {
    color: #fff;
  }

  .nav-title {
    font-size: 3rem;
  }

  &.active > .nav-title {
    color: #fff;
  }

  .nav-item,
  .nav-func {
    display: flex;
    align-items: center;
    & > li {
      margin-right: 20px;
      margin-left: 20px;
      cursor: pointer;
      font-size: 18px;
    }
  }

  .hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .bar {
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #000;
    transition: 0.5s;
    position: relative;
  }

  .bar:before,
  .bar:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #000;
    transition: 0.5s;
  }

  .bar:before {
    transform: translateY(-9px);
  }

  .bar:after {
    transform: translateY(9px);
  }

  &.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
  }

  &.active .bar:before,
  &.active .bar:after {
    background-color: #fff;
  }

  &.active .bar:before {
    transform: translateY(0) rotate(45deg);
  }

  &.active .bar:after {
    transform: translateY(0) rotate(-45deg);
  }
}

.container {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );

  .bg {
    width: 25%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    z-index: -1;
  }
  & > .img-list {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    & > li {
      margin-right: 350px;
      margin-left: 350px;
      position: relative;
      min-height: 300px;
      & > img {
        min-height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 300px;
        transition: opacity 1s;
        opacity: 1;
      }
      .hidden {
        opacity: 0;
        transition: opacity 1s;
      }
    }
  }

  .info {
    text-align: center;
    font-size: 4.5rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
  }

  .func {
    display: flex;
    justify-content: center;
    .button {
      height: 45px;
      padding: 0px 30px 0px 30px;
      font-size: 20px;
      color: #fff;
      background-color: #ed4563;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      margin-right: 20px;
      margin-left: 20px;
      transition: all 0.3s;

      &:hover {
        background-color: #ed4564b4;
        transition: all 0.3s;
      }
    }
  }
  &.active {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  &.active:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
  }
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}
