@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Titillium+Web:wght@700&display=swap");
@import url("./header.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}
.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}
.container.active .main2 {
  animation: main2 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}
.container.active .navbar {
  background-color: transparent;
  box-shadow: none;
}
.container.active .navbar .bar {
  transform: rotate(360deg);
  background-color: transparent;
}
.container.active .navbar .bar::before {
  transform: translateY(0) rotate(45deg);
}
.container.active .navbar .bar::after {
  transform: translateY(0) rotate(-45deg);
}

.main-container .main {
  position: relative;
  height: 100vh;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
  background-image: url("../images/main-2.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container .main .left {
  height: 100vh;
  width: 25%;
  background-color: #3f3e46;
  position: relative;
}
.main-container .main .left > .background-title {
  position: absolute;
  top: 10%;
  left: -25%;
  font-size: 26em;
  color: #48474d;
  font-family: "Titillium Web", sans-serif;
}
.main-container .main .left > .big-title {
  position: absolute;
  top: 40%;
  left: 25%;
}
.main-container .main .left > .big-title > h1 {
  color: #fff;
  font-size: 10em;
  margin-bottom: 35px;
  margin-left: auto;
  text-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
}
.main-container .main .left > .big-title > p {
  width: 68%;
  color: #949399;
  font-size: 1.2em;
  line-height: 1.5em;
  text-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
}
.main-container .main .box {
  position: absolute;
  width: 400px;
  height: 170px;
  right: 5%;
  bottom: 15%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border-radius: 20px;
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }
  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}
.main2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
  z-index: -1;
  opacity: 0.15;
}

@keyframes main2 {
  0% {
    transform: translate(0);
  }
  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}