doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/index.css")
        title Furniture
    body 
        .container
            include ./layouts/header.pug

            .main-container 

                .main
                    .left
                        h1.background-title 01
                        .big-title
                            h1 Design
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime, soluta saepe eveniet ex reiciendis? Alias, odit pariatur! Dignissimos pariatur fuga perspiciatis nobis nihil.
                    .box

                .main2

                .main3

                .main4

                .main5
        script(src="./js/index.js") 
            
