doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel="stylesheet", href="./css/index.css")
        title Furniture
    body 
        .container
            include ./layouts/header.pug

            .main-container 
                
                .main.main1.main-active
                    .left
                        h1.background-title.animate__animated.animate__fadeIn.animate__delay-2s 01
                        .big-title.animate__animated.animate__fadeInDown
                            h1 Furniture
                            p.animate__animated.animate__fadeIn.animate__delay-1s 好的家具，讓你一天都心情美好~ #[br] Furniture 只給你最好的!
                    .box.animate__animated.animate__fadeInUp.animate__delay-2s
                        img(src="./images/flower.jpg", alt="", srcset="")
                        .info
                            h1 每日小語
                            p 好咖啡要和朋友一起品嘗，好的家具也要和朋友一起分享。

                .main.main2.shadow.one
                    .products 
                        .g1.animate__animated.animate__fadeInDown 
                            h1 Shopping?
                            p 缺家具? #[br] 歡迎線上購買後，到實體店面取貨，或者滿 $20000 可免費運送到府~
                            button 
                                i.fa-solid.fa-angles-right
                                
                        .g2.animate__animated.animate__fadeInDown.animate__delay-1s 
                            img(src="./images/chair.png", alt="")
                            h1 扶手椅
                            h3 $7,990
                        .g3.animate__animated.animate__fadeInUp.animate__delay-1s 
                            img(src="./images/lamp.png", alt="")
                            h1 落地燈
                            h3 $1,099
                        .g4.animate__animated.animate__fadeInDown.animate__delay-1s 
                            img(src="./images/plant.png", alt="")
                            h1 人造盆栽附花盆
                            h3 $499

                .main.main3.shadow.two
                    .bg 


                
                


            .nav-menu
                ul
                    li(data-target=".main1" style='--i: 0.05s') Home
                    li(data-target=".main2" style='--i: 0.1s') Shop
                    li(data-target=".main3" style='--i: 0.15s') About
                    //- li(data-target=".main4" style='--i: 0.2s') Testimonials
                    //- li(data-target=".main5" style='--i: 0.25s') About
                    //- li(data-target=".main6" style='--i: 0.3s') Contact
        script(src="https://code.jquery.com/jquery-3.6.0.slim.min.js")
        script(src="https://kit.fontawesome.com/98e5a63198.js") 
        script(src="./js/index.js") 
            
